body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

header {
  background-color: white;
}

.header__container {
  border: 1px solid red;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 60px;
}

.logo {
  display: flex;
  align-self: center;
}

.nav-links {
  font-weight: bold;
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
}

.link {
  position: relative;
  text-decoration: none;
  color: black;
  padding-top: 23px;
  padding-bottom: 22px;
}

.link.is-active {
  color: #00a3e0;
}

.link.no-line {
  color: #00a3e0;
}

.link.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #00a3e0;
  border-radius: 2px;
}

@media (max-width: 1200px) {
  .header__container {
    width: 924px;
  }
}
