body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

header {
  background-color: white;
}

.header__nav {
  padding: 10px 0;
}

.header__container {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}

.link {
  position: relative;
  text-decoration: none;
  color: black;
}

/* Активне посилання */
.link.is-active {
  color: #00a3e0;
}

.link.is-active-noline {
  color: #00a3e0;
}

/* Підкреслення під активним посиланням */
.link.is-active-line::after {
  content: '';
  position: absolute;
  bottom: -18px; /* зсуває лінію вниз — до низу контейнера */
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #00a3e0;
  border-radius: 2px;
}

/* Для ширини 1024px */
@media (max-width: 1200px) {
  .header__container {
    width: 924px;
  }
}
